<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado Productos</title>
</head>
<body>
<h1>Listado de productos</h1>
    <ul th:each="producto: ${listaProductos}">
        <li>
            [<span th:text="${producto.id}" />]
            <br>
            Nombre del producto:<span th:text="${producto.nombre}"/>
            <br>
            Unidades:<span th:text="${producto.unidades}"/>
            <br>
            precio: <span th:text="${producto.precio}"/>
            <a th:href="@{/detallesProducto/{id}(id=${producto.id})}">
                Imagen: <img th:src="${'/images/' + producto.imagen}" alt="Imagen del producto"/>
            </a>
        </li>
    </ul>
</body>

</html>