<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
<h1>Admin</h1>
<ul th:each="producto: ${listaAdmin}">
    <li>
        [<span th:text="${producto.id}" />]
        <br>
        Nombre del producto:<span th:text="${producto.nombre}"/>
        <br>
        Unidades:<span th:text="${producto.unidades}"/>
        <br>
        precio: <span th:text="${producto.precio}"/>
        <a th:href="@{/detallesProducto/{id}(id=${producto.id})}">
            Imagen: <img th:src="${'/images/' + producto.imagen}" alt="Imagen del producto"/>
        </a>
        <button type="button" class="eliminar-btn" th:attr="data-product-id=${producto.id}">Eliminar</button>


    </li>
</ul>

<script>
    $(document).ready(function () {
        $('.eliminar-btn').click(function () {
            var productId = $(this).data('product-id');
            if (confirm("¿Está seguro de que desea eliminar este producto?")) {
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/' + productId,
                    success: function (response) {
                        alert(response); // Display the success message
                        // Optionally, you can reload the product list or update the UI accordingly
                    },
                    error: function (error) {
                        alert('Error al eliminar el producto: ' + error.responseText);
                    }
                });
            }
        });
    });
</script>

</body>
</html>